/*整体灰色*/
body{
    background-color: #efefef;
}
/*发布板块白色，且边距30px*/
.main{
    background-color: white;
    margin: 30px;
}
/*提交按钮靠右且下边距15px*/
.btn-publish{
    float:right;
    margin-bottom: 15px;
}
/*主页头像大小修改*/
.media-object{
    width:42px;
    height:42px;
}
/*回复，浏览，时间*/
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}